<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelArr</key>
	<array>
		<dict>
			<key>channelUrl</key>
			<string>https://itunes.apple.com/us/app/%E8%8A%B1%E6%B5%B7%E4%BB%93-%E5%94%AF%E5%93%81%E4%BC%9A%E6%97%97%E4%B8%8B%E5%93%81%E7%89%8C%E6%B8%85%E4%BB%93%E7%89%B9%E5%8D%96/id995535374?mt=8</string>
			<key>channelName</key>
			<string>Apple App Store</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;left-stack&quot;]/div[1]/a[1]/div/meta</string>
			<key>channelIconXPathAttributeKey</key>
			<string>content</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;left-stack&quot;]/div[1]/ul/li[4]/span[2]</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;left-stack&quot;]/div[1]/ul/li[3]/span[2]</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://sj.qq.com/myapp/detail.htm?apkName=com.vipshop.vshhc</string>
			<key>channelName</key>
			<string>应用宝</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;J_DetDataContainer&quot;]/div/div[1]/div[1]/img</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;J_DetDataContainer&quot;]/div/div[3]/div[2]</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;J_ApkPublishTime&quot;]</string>
			<key>channelUpdateTimeXPathAttributeKey</key>
			<string>data-apkpublishtime</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://app.mi.com/details?id=com.vipshop.vshhc</string>
			<key>channelName</key>
			<string>小米</string>
			<key>channelIconXPath</key>
			<string>/html/body/div[4]/div[1]/div[2]/div[1]/img</string>
			<key>channelVersionXPath</key>
			<string>/html/body/div[4]/div[1]/div[2]/div[2]/div/ul[1]/li[4]</string>
			<key>channelUpdateTimeXPath</key>
			<string>/html/body/div[4]/div[1]/div[2]/div[2]/div/ul[1]/li[6]</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://www.wandoujia.com/apps/com.vipshop.vshhc</string>
			<key>channelName</key>
			<string>豌豆荚</string>
			<key>channelIconXPath</key>
			<string>/html/body/div[2]/div[2]/div[1]/div[1]/img</string>
			<key>channelVersionXPath</key>
			<string>/html/body/div[2]/div[2]/div[2]/div[2]/div[1]/dl/dd[5]</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;baidu_time&quot;]</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://shouji.baidu.com/software/11001570.html</string>
			<key>channelName</key>
			<string>百度手机助手</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;doc&quot;]/div[2]/div/div[1]/div/div[1]/div/img</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;doc&quot;]/div[2]/div/div[1]/div/div[2]/div[2]/span[2]</string>
			<key>channelUpdateTimeXPath</key>
			<string></string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://www.anzhi.com/soft_2754061.html</string>
			<key>channelName</key>
			<string>安智</string>
			<key>channelIconXPath</key>
			<string>/html/body/div[5]/div[1]/div[2]/div[1]/div[1]/img</string>
			<key>channelVersionXPath</key>
			<string>/html/body/div[5]/div[1]/div[2]/div[1]/div[2]/div[1]/span</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;detail_line_ul&quot;]/li[3]</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://zhushou.360.cn/detail/index/soft_id/3038626</string>
			<key>channelName</key>
			<string>360</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;app-info-panel&quot;]/div/dl/dt/img</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;sdesc&quot;]/div/div/table/tbody/tr[2]/td[1]/text()</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;sdesc&quot;]/div/div/table/tbody/tr[1]/td[2]/text()</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://a.vmall.com/app/C10308578</string>
			<key>channelName</key>
			<string>华为</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;currentNews&quot;]/li[1]/img</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;detailinfo&quot;]/ul[3]/li[1]</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;detailinfo&quot;]/ul[2]/li</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://store.oppomobile.com/product/0010/881/208_1.html?from=1152_1</string>
			<key>channelName</key>
			<string>oppo</string>
			<key>channelIconXPath</key>
			<string>/html/body/div[3]/div[2]/div[2]/div[1]/div[1]/img</string>
			<key>channelIconXPathAttributeKey</key>
			<string>dataimg</string>
			<key>channelVersionXPath</key>
			<string>/html/body/div[3]/div[2]/div[2]/div[1]/div[2]/ul/li[3]</string>
			<key>channelUpdateTimeXPath</key>
			<string>/html/body/div[3]/div[2]/div[2]/div[1]/div[2]/ul/li[1]</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://cn-ms.samsungapps.com/ods.as</string>
			<key>channelName</key>
			<string>三星</string>
			<key>channelIconXPath</key>
			<string></string>
			<key>channelIcon</key>
			<string>http://img.samsungapps.com/product/000001214151/IconImage_20160627073502520_NEW_WEB_ICON_135_135.png</string>
			<key>channelVersionXPath</key>
			<string></string>
			<key>channelUpdateTimeXPath</key>
			<string></string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://www.appchina.com/app/com.vipshop.vshhc</string>
			<key>channelName</key>
			<string>应用汇（appchina）</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;pagecontainer&quot;]/div[3]/div[1]/div[1]/div/img</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;pagecontainer&quot;]/div[3]/div[2]/div[2]/div[1]/div/p[4]</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;pagecontainer&quot;]/div[3]/div[2]/div[2]/div[1]/div/p[3]</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://app.meizu.com/apps/public/detail?package_name=com.vipshop.vshhc</string>
			<key>channelName</key>
			<string>魅族</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;theme_content&quot;]/div[1]/div[1]/img</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;theme_content&quot;]/div[1]/div[1]/ul/li[4]/div</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;theme_content&quot;]/div[1]/div[1]/ul/li[7]/div</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://mm.10086.cn/android/info/300009294184.html?from=www&amp;stag=cT0lRTglOEElQjElRTYlQjUlQjclRTQlQkIlOTMmcD0xJnQ9JUU1JTg1JUE4JUU5JTgzJUE4JnNuPTEmYWN0aXZlPTE%3D</string>
			<key>channelName</key>
			<string>移动MM（中国移动）</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;appicon&quot;]</string>
			<key>channelVersionXPath</key>
			<string>/html/body/div[2]/div[2]/div[2]/ul/li[3]</string>
			<key>channelUpdateTimeXPath</key>
			<string>/html/body/div[2]/div[2]/div[2]/ul/li[7]</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://info.appstore.vivo.com.cn/detail/272501</string>
			<key>channelName</key>
			<string>vivo</string>
			<key>channelIconXPath</key>
			<string>/html/body/header/div[2]/div/div[1]/img</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;J_content-swipe&quot;]/div/div/div[2]/ul[1]/li[1]/small</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;J_content-swipe&quot;]/div/div/div[2]/ul[1]/li[2]/small</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://www.lenovomm.com/app/21144577.html</string>
			<key>channelName</key>
			<string>联想乐商店</string>
			<key>channelIconXPath</key>
			<string>/html/body/div[4]/div[1]/div/div[1]/div[1]/div/div[1]/img</string>
			<key>channelVersionXPath</key>
			<string>/html/body/div[4]/div[1]/div/div[1]/div[1]/div/div[2]/ul/li[2]/span</string>
			<key>channelUpdateTimeXPath</key>
			<string>/html/body/div[4]/div[1]/div/div[1]/div[1]/div/div[2]/ul/li[5]/span</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://apk.gfan.com/Product/App1058284.html</string>
			<key>channelName</key>
			<string>机锋网</string>
			<key>channelIconXPath</key>
			<string>/html/body/div[4]/div[1]/div[1]/img[1]</string>
			<key>channelVersionXPath</key>
			<string>/html/body/div[4]/div[1]/div[2]/div[1]/div[1]/p[1]</string>
			<key>channelUpdateTimeXPath</key>
			<string>/html/body/div[4]/div[1]/div[2]/div[1]/div[1]/p[3]</string>
		</dict>
		<dict>
			<key>channelUrl</key>
			<string>http://sj.qq.com/myapp/detail.htm?apkName=com.purchase.vipshop</string>
			<key>channelName</key>
			<string>正点购 应用宝渠道</string>
			<key>channelIconXPath</key>
			<string>//*[@id=&quot;J_DetDataContainer&quot;]/div/div[1]/div[1]/img</string>
			<key>channelVersionXPath</key>
			<string>//*[@id=&quot;J_DetDataContainer&quot;]/div/div[3]/div[2]</string>
			<key>channelUpdateTimeXPath</key>
			<string>//*[@id=&quot;J_ApkPublishTime&quot;]</string>
			<key>channelUpdateTimeXPathAttributeKey</key>
			<string>data-apkpublishtime</string>
		</dict>
	</array>
</dict>
</plist>
